<h1><%= "Bloque Nº:" %></h1>
<h1><%= @block.NoBloque  %></h1>

<div>
 <%= @block.InfoBloque %>
 </div>

<h1><%= "IdBloque:" %></h1>
<div>
 <%= @block.IdBloque %>
</div>

<div>
	<%= link_to "Editar", edit_block_path(@block) %>
</div>